
body {
    padding-left: 0%;
    padding-right: 0%;
    line-height: 1;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
}

#header{
    background-color: white;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.5);
}


#header .con_escudo_titulo {
    position: relative;
    top: 70px;
    /* padding-left: 25px; */
    background: linear-gradient(to right,rgb(255, 255, 255)0%,rgb(255, 255, 255)51%,rgb(255, 255, 255)100%);
    /* box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.5); */
    height: 105px;
}

#header .con_escudo_titulo .logo {
    position: relative;
    z-index: 1;
    float: left;
    margin-top: 8px;
    margin-left: 13px;
    
}


#header .bottom{
    height: 85px;
    
    background: linear-gradient(to right,rgb(17,177,230)0%,rgb(34, 126, 156)51%,rgb(17,177,230) 100%);
}

#menu {
    float: left;
    background-color: rgba(194,223,239,0.5);
    padding: 5px;
    width: 17%;
    min-width: 125px;
}

#menuVisitante {
    float: top;
    background: linear-gradient(to right,rgb(17,177,230)0%,rgb(34, 126, 156)51%,rgb(17,177,230) 100%);
    padding: 12px;
    
    min-width: 125px;
}

#tituloMenu{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(194,223,239,0.5);
}

#content{
    background-color: white;
    padding: 5px;
    margin-left: 19%;
    font-size: 12px !important;
    min-height: 450px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.7);
}

#contentVisitante{
    background-color: white;
    padding: 5px;
    font-size: 12px !important;
    min-height: 450px;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.7);
}


.ui-datatable th{
    font-size: 13px !important;
}

.ui-menu{
    width: 94% !important;
    min-width: 100px !important;
    font-size: 100% !important;
}
.ui-panel-titlebar{
    padding-bottom: 0px !important;
}

.CampoLabelObligatorios
{
    font-style: italic;
    font-size: 15px;    
}
.CampoLabelEspecificacion
{
    font-style: italic;
    font-size: 10px;
}

.BotonesSesion
{
    position: absolute;
    padding: 5px;
    color: #FFFFFF;
    text-align: center;
    border: 2px  solid #ffffff;
    border-style: dashed;
    right: 30px;
    top: 10px;
    border-radius: 10px;    
}

.panelgrid , .panelgrid tr , .panelgrid td
{
    border-style: none !important

}

ul {
    list-style-type: none;
    margin: -19px;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

li a:hover {
    background-color: #AFAFAF;
    
    
}